extends template
block vars
    - var page = "courseView"
block content
    .container
        .row
            .col-xs-12 
                h2.text-center My Courses
                p.text-center Current GPA: #{gpa}
                table.table.table-bordered.table-condensed
                    thead
                        tr
                            th Subject
                            th Description
                            th Grades
                    tbody
                        each row in rows
                            tr
                                td= row.subject
                                td= row.description
                                td= row.grade
