extends template
block vars
    - var page = "index"
block content
    .container
        .rows
            .col-xs-12.text-center
                h1  Hello 
                    each row in info
                        p  #{row.first} #{row.last}
                        p ID:  #{row.studentID}
