extends template
block vars
    - var page = "studentList"
block content
    .container
        .col-xs-12
            center
                h1= title
                  // ADD USER
                form#addUser(method= 'post')
                    fieldset
                        input#inputSubject(name= 'studentID', type='text', placeholder='900...', required)
                        br
                        input#inputCode(name= 'userName', type='text', placeholder='username', required)
                        br
                        input#inputName(name= 'firstName', type='text', placeholder='First Name', required)
                        br
                        input#inputDays(name= 'lastName', type='text', placeholder='Last Name', required)
                        br
                        button#btnAddAddStudent Add Student
                      // /ADD USER