doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  header
    nav
      ul
        li
          a(href="/") Log out
        li
          a(href="/studentList") Student List
    .container
      .col-xs-12
        center
          h1= message
          p This is the #{message} page!
